<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <h1>Pokedex</h1>

    <a href="/pokemon/new">Add New Pokemon</a>

    
    <ul>
        <% pokemon.forEach(pokemon => { %>
          <li>
            <a href="/pokemon/<%= pokemon.id %>">
              <%= pokemon.name %>
            </a>
            <img src="<%= pokemon.img %>" alt="<%= pokemon.name %>">
            <div>
              <a href="/pokemon/<%= pokemon.id %>/edit">Edit</a>
              <form action="/pokemon/<%= pokemon.id %>?_method=DELETE" method="POST">
                <button type="submit">Delete</button>
              </form>
            </div>
          </li>
        <% }); %>
    </ul>

    

    <script src="/script.js"></script>
</body>
</html>
