<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    <%- include("./imports.ejs") %>
</head>
<body>
    <container class="seePokemon">
        <div class="pageTitle">
            <h1>Pokedex</h1>
        <!-- </div>
            

        <div class="addNew"> -->
            <a href="/pokemon/new"><button> Add a New Pokemon</button></a>
        </div>
            <div class="pokes">
                <% for(let i = 0; i < pokemon.length; i++) { %> 
                    <div class="pokeChar">
                        <a href="/pokemon/<%= i %>"><img src=" <%= pokemon[i].img %>"></a>
                
                        <a href="/pokemon/<%= i %>"><%= pokemon[i].name %></a>    
                    </div>
                <% } %>               
            </div>
        
    </container>
</body>
</html>