<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    <%- include("./imports.ejs") %>
    
</head>
<body>
    <container class="seePokeDetails">
        <div class="showPokemon">
            <h1><%= Pokemon.name %></h1>
        </div>
        <div class="showImage">  
            <img src="<%= Pokemon.img %>" alt="pokemon character"/>
        </div>

        <div class="pokemonDetails">
                <ul>  
                    <h2>Type:</h2>      
                    <% for(let i=0; i<Pokemon.type.length; i++) { %>
                        <li><h4><%= Pokemon.type[i] %></h4></li>
                    <% } %>
                </ul>
        </div>

        <div class="stats">
            <h2>Stats:</h2>
                <ul>
                    <li><h4>Attack: <%= Pokemon.stats.attack %></h4></li>
                    <li><h4>Hit Points: <%= Pokemon.stats.hp %></h4></li>
                    <li><h4>Defense: <%= Pokemon.stats.defense %></h4></li>
                    <li><h4>Speed: <%= Pokemon.stats.speed %></h4></li>
                </ul>
        </div>

        <div class="damages">
            <h2>Damages:</h2> 
                <ul>
                    <li><h4>Normal: <%= Pokemon.damages.normal %></h4></li>
                    <li><h4>Fire: <%= Pokemon.damages.fire %></h4></li>  
                    <li><h4>Water: <%= Pokemon.damages.water %></h4></li> 
                    <li><h4>Ice: <%= Pokemon.damages.ice %></h4></li> 
                </ul>
        </div>    
        
        <div class="controls">
            <a href="/pokemon/<%= id %>/edit"><button> Edit the Pokemon</button></a>

            <form action="/pokemon/<%= id %>?_method=DELETE" method="POST">
                <input type="submit" value="DELETE"/>
            </form>

            <h3>
                <a href="/pokemon/">Return Back To Main Page</a>
            </h3>
        </div>    
        
    </container> 

</body>
</html>